{% extends "base.html" %}

{% block script_head %}
    <!-- Load D3.js -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Load billboard.js with style -->
    <script src="https://naver.github.io/billboard.js/release/latest/dist/billboard.min.js"></script>
    <link rel="stylesheet" href="https://naver.github.io/billboard.js/release/latest/dist/billboard.min.css">
    <style>
        .bb-chart-text {
            font-size: 15pt;
        }
    </style>
{% endblock %}

{% block content %}
<div style="padding: 20px"></div>
<h3>오늘({{ today.strftime('%Y-%m-%d') }})의 학습활동</h3>

<div style="padding: 10px"></div>
<div>
    <ul class="list-group">
{% for event in today_events %}
    <li class="list-group-item">
        <strong>{{ event.actor }}</strong>님은 <strong>{{ event.eventTime.strftime('%H:%M:%S') }}</strong>에
        <strong>{{ event.object }}</strong>를 <strong>{{ event.action }}</strong> 하였습니다.
    </li>
{% endfor %}
    </ul>
</div>

<div style="padding: 20px"></div>

<h3>동일 시험 응시자 성적 비교</h3>

<div id="same-group-chart">
</div>

{% endblock %}

{% block script_body %}
<script>
    var chart = bb.generate({
        data: {
            json: {
                my_score: [ {{ grade_comparison.my_score }} ],
                average_score: [ {{ grade_comparison.average_score }}]
            },
            type: "bar",
            names: {
                my_score: "내 점수",
                average_score: "동일 시험 응시자 평균",
            },
            labels: true
        },
        bindto: "#same-group-chart",
            axis: {
                x: {
                    show: false
                }
            },
        tooltip: {
            show: false
        }
    });
</script>
{% endblock %}