{% extends "base.html" %}

{% block content %}
<div class="container">

    <div style="padding: 20px"></div>

    <h3>불법 행위 vs. 범죄</h3>
    <ul>
        <li>불법 행위: 고의나 과실로 남의 재산을 파손하여 금전적, 정신적인 피해를 주는 행위</li>
        <li>범죄: 다른 사람의 권익을 침해할 뿐만 아니라 사회의 질서나 안전에 반하는 행위</li>
    </ul>

    <!-- Form for tagging -->
    <form class="form-inline" method="post" action="{{ url_for('tag_page') }}">
        <div class="form-group col-6" style="padding-left:0px;">
            <input type="text" class="form-control" id="tag-input" name="tags" placeholder="이 글에 달고 싶은 태그를 적어 주세요.(쉼표로 구분)" style="width:100%;">
        </div>
        &nbsp;
        <button class="btn btn-default" type="submit">Add tag</button>
    </form>
    <!-- Display tags an user typed -->
    {% if tags %}
    <div style="height:10px;"></div>
    <div class="card">
        <div class="card-body">
            <strong>Tags:</strong> {{ tags }}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}